itsdangerous==1.1.0
MarkupSafe==1.1.1
numpy==1.18.5
scipy==1.4.1
scikit-learn==0.23.2
pandas==0.24.2
flasgger==0.9.4
streamlit==0.69.2
Pillow==8.0.1
cloudpickle==1.2.1
pickleshare==0.7.5
PyPDF2==1.26.0
spacy==2.3.2
PyMuPDF==1.18.2
pdfplumber==0.5.24
nltk==3.4.5
regex==2020.10.23
requests==2.22.0
altair==4.1.0
pathlib2==2.3.4
Werkzeug==0.15.4
Pillow==8.0.1
pipreqs==0.4.10
urllib3==1.25.11
